@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


:root {
  --DefaultFont: #050b0f;
  --ContainerBackground: #181823;
  --SecondBoox: #494993;
  --Cyan: #10fff1;
  --Red: #E40037;
  --Blue: #0C08B1;
  --text: #fff;
  --purple: #9b59b6;
  --text2: #03DAC5;
  --rgbaContainer: rgba(24, 24, 35, 0.9)
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.bodyDark {
  background: var(--DefaultFont);
  width: 100%;
  height: 100%;
  color: var(--text2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;


  position: relative;


}

/* -------------------Nav Bar----------------- */
.navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-radius: 40px;
  position: fixed;
  bottom: 20px;
  background: var(--rgbaContainer);
  z-index: 1000;
  max-width: 400px;
}

.navbar a {
  padding: 20px;
}

.navbar i {
  color: var(--text);
}

/* -----------------Header-------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  margin: 15px;
  width: 90%;
  padding: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 400;
  background: var(--DefaultFont);
}

.header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bx-sun {
  font-size: 22px;
}

/* ----------------Principal------------------ */
.principal {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
  width: 100%;
}

/* ------------inicio-------------------------- */
.inicio {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inicio h1 {
  text-align: center;
  font-weight: 600;
}

.inicio h2 {
  font-size: 14px;
  font-weight: 400;
}

.inicio div {
  display: flex;
  gap: 15px;
  padding-bottom: 50px;
}

.inicio button {
  height: 50px;
  padding: 5px;
  padding: 0 15px;
  font-weight: 600;
  color: var(--DefaultFont);
  background: var(--text2);
  border: 0;
  border-radius: 10px;
}

.dowload:hover {
  background: none;
  border: 2px solid var(--text2);
  color: var(--text);

}

/* ---------------------Home---------------- */
.home {
  width: 100%;
}

.home_position {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;

}

.home_photo {
  background: linear-gradient(31deg, rgba(41,109,169,1) 19%, rgba(3,218,197,0.44159662155877977) 54%);
  width: 50%;
  max-width: 250px;
  position: relative;
  height: 300px;
  max-height: 300px;
  border-radius: 100px 100px 0 0;
}

.home_photo img {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;

}

.home_position {

  width: 100%;
  display: flex;
  flex-direction: column;

}

.home_media {
  display: flex;
  gap: 15px;
  font-size: 25px;


}

.home_media i {
  color: var(--text2);
  background: var(--ContainerBackground);
  padding: 5px;
  border-radius: 5px;
}

/* -------------------------Aboutme */
.aboutMe {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;


}
.about_container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.about_photo img {
  width: 60%;
  border-radius: 50px;

}

.about_text {
  width: 80%;
 
  color: whitesmoke;
  max-width: 400px;
  align-content: center;
  justify-content: center;
  

}

.about_text p {
  padding-bottom: 20px;
  font-size: 14px;
  text-align: justify;
 
}

.about_text h3 {
  font-size: 15px;
  font-weight: 300;
  color: var(--text2);
  padding-bottom: 30px;
}

.aboutMe button {
  height: 50px;
  padding: 5px;
  padding: 0 15px;
  font-weight: 600;
  color: var(--DefaultFont);
  background: var(--text2);
  border: 0;
  border-radius: 10px;
}

.aboutMe a{
  text-decoration: none;
  color: var(--ContainerBackground);
}

/* ----------------exp-------------*/
.exp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  
}

.exp_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 14px;
  align-items: center;
  justify-content: center;

}

.exp .container {
  background: var(--ContainerBackground);
  width: 90%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  max-width: 400px;
  height: 350px;
}

.tecnology_container {
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;


}

.tecnology {
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  color: var(--text);
  width: 120px;




}

.tecnology i {
  font-size: 17px;
  color: var(--text2);
}

.tecnology h3 {
  font-size: 12px;
  padding-left: 8px;
  font-weight: 200;
}

.container_photos {
  background: var(--ContainerBackground);
  width: 90%;
  padding: 15px;
  display: flex;

  gap: 15px;
  border-radius: 20px;
  flex-wrap: wrap;
  max-width: 400px;
}

.container_img {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100px;
  align-items: center;

  flex-wrap: wrap;


}

.container_img img {
  width: 100%;
  height: 70px;
}

/* -------------------------Proyects----------------- */
.proyects_filter {
  display: flex;
  width: 100%;
}

.title {
  padding-bottom: 20px;
}

.proyects {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
  
  

}
.proyects_container_main{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: center;
  
}

.proyects_card {
  background: var(--ContainerBackground);
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  height: 280px;
  

}

.proyects_text {
  text-align: start;
  padding: 0 12px;
  color: var(--text);
  
  width: 100%;
}

.proyects_card h2 {
  font-size: 18px;
  font-weight: 500;
}

.proyects_card img {
  width: 90%;
  height: 150px;
  border-radius: 10px;
}

.proyects_card a {
  text-decoration: none;
  color: var(--text2);
  font-size: 14px;
}

/* ----------------------contact Me----------------- */
.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container_contact {
  background: var(--ContainerBackground);
  width: 90%;
  border-radius: 15px;
  gap: 15px;
  font-size: 15px;
  color: var(--text);
  padding: 20px;
  max-width: 300px;
}

.container_contact .contact-subtext {
  font-size: 14px;
  font-weight: 300;
}

.container_contact i {
  font-size: 30px;
}

.container_contact a {
  text-decoration: none;
  color: var(--text2);

}

.contact-title {
  font-weight: bold;
  font-size: 14px;
}

/* ----------------------------Footer------------------------- */
.footer {
  background: var(--text2);
  width: 100%;
  color: var(--ContainerBackground);

  text-align: center;
  padding: 10px;
}

.footer_menu_container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

}

.footer ul {
  list-style: none;
}

.footer_menu {
  display: flex;
  gap: 30px;
}

.footer_menu_link ul {
  display: flex;
  font-size: 30px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;


}

.footer i {
  color: var(--ContainerBackground);

}

/* ---------------------Media Querys------------------------------ */

@media screen and (min-width:576px) {
  .inicio h2 {
    font-size: 17px;
  }

}

@media screen and (min-width:768px) {}

@media screen and (min-width:992px) {
 /* .together{
  display: flex;
  align-items: center;
  justify-content: center;
 
  width: 100%;
  
 } */
  .exp_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }

  .about_container{
    flex-direction:row ;

  }
}

@media screen and (min-width:1200px) {}